:root {
    --bg-color: #4b3a29;
    --main-color: ;
    --text-color: ;
    --second-text-color: ;
    --white-color: #ffffff;
    --cover-color: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    --pages-color: linear-gradient(90deg, #C4A484, #A67C52);
    --border: .125rem solid #000000;
    --box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.5);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: var(--bg-color);
    color: var(--text-color);
}

.wrapper {
    position: relative;
    width: 60rem;
    height: 45rem;
    padding: 2rem;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}
.cover.cover-left{
    z-index: -1;
}
.cover.cover-right.turn{
    transform: rotateY(180deg);
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
    display: flex;
    padding: 2rem;
}

.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-page img {
    max-width: 180px;
    border-radius: 50%;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
}